
[Unit]
Description=Start the Email service

[Service]
ExecStart=/usr/bin/email-service
Nice=5
OOMScoreAdjust=100
MemoryLimit=30M

[Install]
WantedBy=multi-user.target
EnvironmentFile=/run/tizen-mobile-ui
