[Unit]
Description=Start the Email service

[Service]
ExecStart=/usr/bin/email-service
Nice=5
EnvironmentFile=/run/tizen-mobile-ui
OOMScoreAdjust=100
Restart=always

[Install]
WantedBy=tizen-middleware.target
