[Unit]
Description=Start the Email service
After=xorg.target

[Service]
ExecStart=/usr/bin/email-service
Nice=5
OOMScoreAdjust=-100
Restart=always
RestartSec=2


[Install]
WantedBy=tizen-middleware.target

