[Unit]
Description=Email Service socket

[Socket]
ListenStream=%t/email/.emailfw_socket
Service=email-service.service

[Install]
WantedBy=sockets.target
